#calculator{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: 200px;
}
#display{
  margin: 10px;
  width: 85%;
  font-size: 25px;
}
.button{
  width: 45px;
  height: 45px;
  margin: 3px;
}
.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body {
    margin: 0;
    height: 100vh;              /* Full screen height */
    display: flex;
    flex-direction: column;     /* Column layout (as you want) */
    justify-content: center;    /* Vertical center */
    align-items: center;        /* Horizontal center */
    background-color: #00cfcf;  /* your background */
}